.topnav{
    background-color: #C8102E;
    padding: 25px;
}

.nav-container{
    display:flex;
    list-style:none;
}

.topnav a{
    color:#FFF9D9;
    padding:.75rem;
    font-size:1.125rem;
}

.topnav a.active{
    background-color:#960C22;
    color:#FFFFFF;
    font-weight: bold;
}

.topnav a:hover{
    background-color:#640817;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color: beige;
    padding: 20px;
}

h1{
    color:hotpink;
}

section {
    line-height:1.8;
}

table,th,td{
    border:1px solid black;
    padding: 8px;
    text-align: center;
}

table{
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color:bisque;
}

tr:hover{
    background-color: gold;
}

.red_button{
    background-color: red;
    color:yellow;
}

img{
    max-width:450px;
    max-height:450px;
}

#footer1 {
    font-weight: 600;
    color:violet;
}

form{
    position:absolute;
    left: 5%;
    padding: 20pt;
    background-color: azure;
}