.topnav{
    background-color: #960C22;
    padding: 25px;
    padding-bottom: 10px;
    box-sizing: inherit;
}

.nav-container{
    display:flex;
    list-style:none;
}

.topnav a{
    color:#FFF9D9;
    padding:.75rem;
    font-size:1.125rem;
}
nav.topnav#submenu {
    padding: 1rem;
    margin-left: 25px;
}

.topnav a.active{
    background-color:#640817;
    color:#FFFFFF;
    font-weight: bold;
}

.topnav a:hover{
    background-color:#640817;
}

header{
    background-color: #960C22;
}

section{
    padding: 50px;
}

iframe{
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

h1{
    color:white;
    padding-left: 70px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-size: 43px;
    margin-top: 10px;
    margin-bottom: 0px;
}

section {
    line-height:1.8;
}

table,th,td{
    border:1px solid black;
    padding: 8px;
    text-align: center;
}

table{
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color:bisque;
}

tr:hover{
    background-color: gold;
}

img{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

#footer1 {
    font-weight: 600;
    color:violet;
}

form{
    position:absolute;
    left: 5%;
    padding: 20pt;
    background-color: azure;
}