/*
######################################
        Overall page style
######################################
*/
body{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #960C22;
    padding: 0px;
    margin: 0px;
}


/*
######################################
        Topnav elements
######################################
*/
.topnav{
    background-color: #960C22;
    padding: 25px;
    padding-bottom: 10px;
    box-sizing: inherit;
}

.nav-container{
    display:flex;
    list-style:none;
}

.topnav a{
    color:#FFF9D9;
    padding:.75rem;
    font-size:1.125rem;
    font-family: 'Source Sans Pro', sans-serif;
}

nav.topnav#submenu {
    padding: 1rem;
    margin-left: 25px;
}

.topnav a.nav-active{
    background-color:#640817;
    color:#FFFFFF;
    font-weight: bold;
}

.topnav a:hover{
    background-color:#640817;
}


/*
######################################
        Default page layout
######################################
*/
.pagelayout {
    display: flex;
    padding: 50px;
    line-height:1.8;
}

.pagelayout-column {
    flex: auto;
}

.pagelayout-column:first-child {
    min-width: 180px;
    max-width: 250px;
    margin-right: 50px;
}

section {
    line-height:1.8;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    max-width: 90%;
}


/*
######################################
        index.html page
######################################
*/
#homepage{
    min-width: 200px;
}

/*
######################################
        reservations.html page
######################################
*/
form{
    line-height: 1.4;
}

.button-div{
    padding-left: 40px;
    padding-bottom: 15px;
}

.timedetails-div{
    padding-left: 10px;
}

.timeslot-entry{
    display: flex;
}

.timeslot-column{
    flex: 0.5;
    margin: 0px;
}

.timeslot-p {
    padding-left: 50px;
}


#timeslot-div {
    line-height: 1;
}



/*
######################################
        dining.html page
######################################
*/
#dining-section {
    padding-top: 0px;
    margin-top: 0px;
}

.dining-option {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 80%;
}

.dining-img {
    width: 250px;
}

/*
######################################
        references.html page
######################################
*/
.references-layout {
    display: flex;
    padding: 50px;
    line-height:1.8;
}

.references-column {
    flex: auto;
}

.references-column:first-child {
    min-width: 500px;
    margin-right: 50px;
}

.apa-style{
    text-indent: 3em hanging;
    text-wrap: wrap;
}

/*
######################################
        Text element tags
######################################
*/
h1{
    color:white;
    padding-left: 70px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-size: 43px;
    margin-top: 10px;
    margin-bottom: 0px;
}


ul{
    padding-left: 20px;
}

.sublist {
    list-style: none;
}


/*
######################################
        Multi-media element tags
######################################
*/
img{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

#vid{
    max-width: 100%;
    max-height: 100%;
    transform-origin: top;
    transform: scale(2);
    margin: 0 auto;
    display: block;
}



